.title {
  margin-top: 16px;
  margin-bottom: 16px;
}

body
{
  width: 500px;
  height: 374px;
  max-height: 374px;
  font-family: "Helvetica Neue";
}

.container-100
{
  width: 100%;
}

.container-80
{
  width: 80%;
}

.container-75
{
  width: 75%;
}

.container-50
{
  width: 50%;
  display: inline-block;
}

.offset-75
{
  margin-left: 50%;
  left: 0;
}

.offset-50
{
  margin-left: 50%;
  left: 0;
}

.offset-25
{
  margin-left: 25%;
  left: 0;
}

.offset-10
{
  margin-left: 10%;
  left: 0;
}

.width-100
{
  width: 100%;
}

.width-75
{
  width: 75%;
}

.width-50
{
  width: 50%;
}

.width-25
{
  width: 25%;
}

.inline
{
  display: inline;
}

.inline-block
{
  display: inline-block;
}

.left-spacing
{
  padding-left: 10%;
}

.form-input
{
  position: absolute;
}

.center,
td,
th
{
  text-align: center;
}

.right
{
  right: 0 !important;
}

.margin-top
{
  margin-top: 30px;
}

.form-group
{
  position: relative;
  margin-top: 15px;
}

.blue-button
{
}

.generate-button
{
  margin-top: 10px;
  background-color: rgb(92, 158, 213);
  color: white;
  border: 0;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 200;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
}

.generate-button:hover
{
  cursor: pointer;
  background-color: rgb(69, 135, 190);
}

.generated-email-para,
.input-email
{
  width: 70%;
  margin-top: 0px;
  border: 1px solid rgb(228, 221, 221);
  padding: 10px;
  top: 0;
}

.generated-email-button
{
  width: 20%;
  left: 0;
  padding: 5px;
  padding-bottom: 8px;
  font-size: 16px;
  border: 2px solid rgb(46, 205, 126);
  background-color: rgb(46, 205, 126);
  outline: none;
  color: white;
  font-weight: 300;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.generated-email-button:hover
{
  background-color: rgb(12, 166, 89);
  border: 2px solid rgb(12, 166, 89);
  cursor: pointer;
}

h1,
h2,
h3,
p,
label,
button,
span,
th,
td
{
  font-weight: 200;
}

input
{
  font-weight: 300;
}

h1
{
  font-size: 36px;
}

h2
{
  margin-bottom: -10px;
}

#email-field,
td
{
  overflow-x: hidden;
}

span
{
  display: none;
  font-size: 14px;
  color: rgb(46, 205, 126);
}

.save-alert
{
  border-color: #b2dba1;
  border-radious: 0px;
  background-color: #c8e5bc;
}

.alert-info
{
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 200;
  font-size: 16px;
}

.nav
{
  position: absolute;
  top: 0;
  left: 0;
}

ul
{
  padding-left: 10px;
  list-style: none;
}

li
{
  padding: 5px;
}

a
{
  padding: 5px;
  font-size: 16px;
  font-weight: 200;
  color: rgb(92, 158, 213);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover
{
  color: white;
  background-color: rgb(92, 158, 213);
  border: 1px solid rgb(92, 158, 213);
  border-radius: 2px;
  text-decoration: underline;
  cursor: pointer;
}

.active
{
  color: white;
  background-color: rgb(92, 158, 213);
  border: 1px solid rgb(92, 158, 213);
  border-radius: 2px;
}

#options-content
{
  display:none;
}

.info
{
  font-size: 18px;
  border: solid 1px rgb(92, 158, 213);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(92, 158, 213, 0.62);
  color: white;
}

table
{
  width: 100%;
  max-height: 250px;
  overflow: scroll;
  border-collapse: collapse;
  table-layout: fixed;
}

thead
{
  border-bottom: 1px solid black;
}

th
{
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

td
{
  overflow-x: scroll;
  padding-bottom: 5px;
  padding-top: 5px;
}
